In [2]:
import pandas as pd
import numpy as np
import sympy as sym
import matplotlib.pyplot as plt

In [7]:
#create a random normolized 5X5 matrix with values between 0 and 100
A = np.random.randint(0,100,50).reshape(10,5)
A = pd.DataFrame(A, columns=['A','B','C','D','E'])

    A   B   C   D   E
0  50  61  11   9  94
1  38  69  15   4  43
2  58  88  44  67  55
3  95  15   8  56  53
4  18  99  79  23  93
5  20  67  43  48   1
6  17  90  41  67  28
7  50  43   0  37  40
8  90  98  35  90  39
9  39  70  85  38  36

In [4]:
#create a function that taks 2 numbers and return a random matrix with values between 0 and 100
def random_matrix(x,y):
    A = np.random.randint(0,100,x*y).reshape(x,y)
    A = pd.DataFrame(A, columns=['A','B','C','D','E'])
    return A
a=random_matrix(10,5)
a

    A   B   C   D   E
0  37  62  16  34  49
1  62  82  68  85   2
2  64  61  68  88  70
3  62  86  56  11  74
4  96  17  69  76  29
5  69  69  62  66  76
6  70   7  43  45  50
7  11   4  92  91  66
8  45  65  56  72  62
9  58  34  61  84   5